In [ ]:
 # print o to 20 by using range

In [9]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [55]:
# print range 10 t0 20
for num in range(10,20):
    print(num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [11]:
# print  number of items in the list by using 'len'
List1=[10,20,14,55,4,87,76]
len(List1)
print("Number of Item in the List1:",len(List1))

Number of Item in the List1: 7

In [21]:
Mystring = "Artifical intelligence"
for x in Mystring:
    print(x)

A
r
t
i
f
i
c
a
l

i
n
t
e
l
l
i
g
e
n
c
e

In [24]:
print( "- your Name -")
print("- Your Age-")
print("- Your Profession -")

- your Name -
- Your Age-
- Your Profession -

In [26]:
MyTup=(1, 'Welcome', 2, 'Hope')
print(MyTup)

(1, 'Welcome', 2, 'Hope')

In [27]:
Tupes = ((0,1,2,3),('Python','Hope'))
print(Tupes)

((0, 1, 2, 3), ('Python', 'Hope'))

In [49]:
#print odd number in the List
Tup=(20,10,16,19,25,1,276,188)
for i in Tup:
    if i%2!=0:
        print(i,"is odd")

19 is add
25 is add
1 is add

In [51]:
#print Even  number in the List
Tup=(20,10,16,19,25,1,276,188)
for i in Tup:
    if i%2==0:
        print (i,"is Even")

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even